{% extends "layout.html" %}
{% block content %}
    {% for request in requests %}
        <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            <a class="mr-2">{{ request.requester_name }} of {{ request.hiu_name }}</a>
            <small class="text-muted">{{ request.time_from.strftime('%Y-%m-%d') }} to {{ request.time_to.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title">{{ request.record_id }} from {{ request.hip_name }} for {{ inverse_purpose_map[request.purpose] }}</a></h2>
            <div>
              <a class="btn btn-info" href="{{ url_for('accept_request', request_id = request.id) }}">Accept</a>
              <a class="btn btn-danger" href="{{ url_for('deny_request', request_id = request.id) }}">Deny</a>
            </div>
        </div>
        </article>
    {% else %}
        You have no Consent Requests at this time.
    {% endfor %}
{% endblock content %}